<h1 class="blog-post">BLOG</h1>

<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->
    <div class="blog-post">
    <% @posts.each do |post| %>
      <!-- <tr> -->
        <h2><%= link_to "#{post.title}", post %></h2>
        <strong>Published: </strong><%= post.created_at.to_date.to_formatted_s(:long) %><br>
        <%= post.content.html_safe %></p>
        <hr>
        <%#= link_to 'Show', post %>
        <%#= link_to 'Edit', edit_post_path(post) %>
        <%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <!-- </tr> -->
    <% end %>
    </div>
<!--   </tbody>
</table>
 -->
<!-- <br> -->

<%#= link_to 'New Post', new_post_path %>
